/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Slider */
/* line 3, ../sass/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../sass/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 28, ../sass/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 33, ../sass/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, ../sass/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 50, ../sass/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 56, ../sass/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 60, ../sass/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 64, ../sass/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 68, ../sass/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 71, ../sass/slick.scss */
.slick-slide img {
  display: block;
}
/* line 74, ../sass/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 80, ../sass/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 84, ../sass/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 88, ../sass/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 92, ../sass/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 98, ../sass/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller-ExtraBold-DEMO.eot");
  src: url("../fonts/Muller-ExtraBold-DEMO.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller-ExtraBold-DEMO.woff") format("woff"), url("../fonts/Muller-ExtraBold-DEMO.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* line 34, ../sass/style.scss */
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  background-color: transparent;
  border: none;
}

/* line 38, ../sass/style.scss */
button:focus {
  outline: none;
}

/* line 41, ../sass/style.scss */
button {
  cursor: pointer;
}

/* line 44, ../sass/style.scss */
a {
  cursor: pointer;
}
/* line 46, ../sass/style.scss */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 51, ../sass/style.scss */
:focus {
  outline: none;
}

/* line 54, ../sass/style.scss */
body {
  font-family: Montserrat, serif;
  font-size: 14px;
  color: #000;
}

/* line 59, ../sass/style.scss */
h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 0 20px;
}

/* line 65, ../sass/style.scss */
h4 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0 15px;
}

/* line 70, ../sass/style.scss */
.ligt {
  color: #fff;
}

/* line 73, ../sass/style.scss */
.dark {
  color: #000;
}

/* line 76, ../sass/style.scss */
.bg-color {
  background-color: #ededed;
}

/* line 79, ../sass/style.scss */
.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

/* line 85, ../sass/style.scss */
.logo {
  width: 132px;
  margin-left: 5px;
  margin-right: 50px;
}
/* line 89, ../sass/style.scss */
.logo img {
  width: 100%;
}

/* line 94, ../sass/style.scss */
.menu a {
  padding: 0 35px;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 101, ../sass/style.scss */
.menu li {
  position: relative;
}
/* line 103, ../sass/style.scss */
.menu li:hover a:before {
  content: "";
  border-bottom: 1px solid #b8a47e;
  width: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 112, ../sass/style.scss */
.menu li:hover a:after {
  content: "\00B7";
  color: #b8a47e;
  font-size: 28px;
  display: block;
  position: absolute;
  top: -6px;
  right: 20px;
}
/* line 123, ../sass/style.scss */
.menu .active a:before {
  content: "";
  border-bottom: 1px solid #b8a47e;
  width: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 132, ../sass/style.scss */
.menu .active a:after {
  content: "\00B7";
  color: #b8a47e;
  font-size: 28px;
  display: block;
  position: absolute;
  top: -6px;
  right: 20px;
}
/* line 142, ../sass/style.scss */
.menu .color-light {
  color: #fff;
}

/* line 146, ../sass/style.scss */
#banner-slider {
  width: 100%;
}
/* line 148, ../sass/style.scss */
#banner-slider .slick-list {
  width: 100%;
  float: right;
}
/* line 151, ../sass/style.scss */
#banner-slider .slick-list img {
  width: 62%;
  margin-left: auto;
}
/* line 156, ../sass/style.scss */
#banner-slider .slick-arrow {
  position: absolute;
  width: 24px;
  height: 14px;
  background-size: cover;
  left: 65px;
}
/* line 163, ../sass/style.scss */
#banner-slider .slick-prev {
  background-image: url("../img/arrow-up.png");
  top: 110px;
}
/* line 166, ../sass/style.scss */
#banner-slider .slick-prev:hover {
  background-image: url("../img/active-arrow-up.png");
}
/* line 170, ../sass/style.scss */
#banner-slider .slick-next {
  background-image: url("../img/arrow-down.png");
  top: 140px;
}
/* line 173, ../sass/style.scss */
#banner-slider .slick-next:hover {
  background-image: url("../img/active-arrow-down.png");
}

/*.carousel {
	.container {
		position: relative;
	}
	.carousel-control-prev,
	.carousel-control-next {
		color: #000;
		&:hover {
			color: #b9a580;
		}
	}
	.carousel-indicators { 
		width: 48px;
    	margin: 0;
		li {
			width: 48px;
			height: auto;
			line-height: 25px;
			font-size: 14px;
			font-weight: bold;
			color: $text-color;
			text-indent: inherit;
			text-align: center;
			cursor: pointer;
			transition: all 0.3s ease;
			&.active {
				line-height: 48px;
				border-radius: 50%;
				box-shadow: -1px 9px 24px 0px rgba(0, 15, 26, 0.21);
			    z-index: 9;
				transition: all 0.3s ease;
				}
			}
	}

}
#banner-slider .carousel-inner {
	width: 56%;
    margin-left: 44%;
}
.vertical-carousel {
	.carousel-control-prev,
	.carousel-control-next {
		width: 20px;
		left: 60px;
		opacity: 1;
		bottom: auto;
		font-size: 24px;
	}
	.carousel-control-prev {
	    top: 110px;
	}
	.carousel-control-next {
		top: 140px;
		&:after {
			content: "";
			display: block;
    		border-right: 1px solid $link-color;
    		width: 1px;
    		height: 24px;
		    position: absolute;
		    left: 50%;
		    top: 100%;
		    margin: 5px -1px;
		}
	}
	.carousel-indicators{
		left: 46px;
	    top: 285px;
	    flex-direction: column;
	    align-items: center;
	}
	.carousel-caption {
		width: 50%;
		color: #000;
		left: 230px;
    	bottom: 135px;
    	text-align: left;
		p {
			font-size: 14px;
			color: #383838;
		}
		a {
			color: $link-color;
			position: relative;
			margin-left: 75px;
			&:before {
			content: "";
    		border-bottom: 1px solid $link-color;
    		width: 24px;
    		display: block;
		    position: absolute;
		    left: -30px;
		    top: 50%;
			}
			i {
				font-size: 18px;
				margin-left: 5px;
			}
		}
	}
}*/
/* line 283, ../sass/style.scss */
.img-section {
  padding-top: 120px;
  color: #fff;
}
/* line 287, ../sass/style.scss */
.img-section .image {
  width: 65%;
  position: relative;
}
/* line 290, ../sass/style.scss */
.img-section .image img {
  width: 100%;
}
/* line 294, ../sass/style.scss */
.img-section .title {
  position: absolute;
  right: 10px;
  top: 50%;
  text-align: right;
  margin-top: -42px;
  z-index: 9;
}
/* line 302, ../sass/style.scss */
.img-section h1 {
  margin: 15px 0 10px;
  letter-spacing: 0.2em;
}
/* line 306, ../sass/style.scss */
.img-section .description {
  width: 45%;
  color: #878787;
  line-height: 26px;
  padding: 40px 30px 30px;
  border: 2px solid #b8a47e;
  padding-left: 20%;
  margin-right: 8.33%;
  position: absolute;
  right: 0;
}
/* line 316, ../sass/style.scss */
.img-section .description:after {
  content: "";
  display: block;
  width: 115px;
  height: 50px;
  background-image: url(../img/long-arrow.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position-x: 50%;
  background-size: contain;
  position: absolute;
  right: 20%;
  bottom: -50px;
}

/* line 333, ../sass/style.scss */
.product-slider {
  width: 100%;
  padding-top: 160px;
}
/* line 336, ../sass/style.scss */
.product-slider .row {
  position: relative;
}
/* line 339, ../sass/style.scss */
.product-slider .carousel {
  padding-bottom: 100px;
}
/* line 342, ../sass/style.scss */
.product-slider img {
  height: inherit;
  padding: 10px;
}
/* line 346, ../sass/style.scss */
.product-slider .carusel-item {
  height: 165px;
  transition: all 0.3s ease;
  position: relative;
  background-color: #fff;
  margin-right: 30px;
}
/* line 352, ../sass/style.scss */
.product-slider .carusel-item img {
  margin: 0 auto;
  width: auto;
}
/* line 356, ../sass/style.scss */
.product-slider .carusel-item .image {
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: 9;
}
/* line 364, ../sass/style.scss */
.product-slider .carousel .slick-list {
  height: 260px;
}
/* line 367, ../sass/style.scss */
.product-slider .carousel .slick-track {
  display: flex;
  align-items: flex-end;
  height: inherit;
}
/* line 372, ../sass/style.scss */
.product-slider .carousel .slick-center {
  height: 260px;
  width: 440px !important;
}
/* line 375, ../sass/style.scss */
.product-slider .carousel .slick-center .slid-caption {
  display: block;
}
/* line 379, ../sass/style.scss */
.product-slider .carousel .slick-arrow {
  position: absolute;
  font-size: 28px;
  bottom: 50px;
  z-index: 99;
}
/* line 385, ../sass/style.scss */
.product-slider .carousel .slick-prev {
  right: 42%;
}
/* line 388, ../sass/style.scss */
.product-slider .carousel .slick-next {
  right: 35%;
}
/* line 392, ../sass/style.scss */
.product-slider .carousel-indicators {
  bottom: 0;
  right: 36%;
  left: auto;
}
/* line 397, ../sass/style.scss */
.product-slider .pager {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  right: 26%;
  height: 48px;
}
/* line 404, ../sass/style.scss */
.product-slider .pager li {
  width: 48px;
  height: inherit;
  line-height: 48px;
  font-size: 14px;
  font-weight: bold;
  color: #878787;
  text-indent: inherit;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
}
/* line 416, ../sass/style.scss */
.product-slider .pager li.slick-active {
  line-height: 48px;
  border-radius: 50%;
  box-shadow: -1px 9px 24px 0px rgba(0, 15, 26, 0.21);
  z-index: 9;
  transition: all 0.3s ease;
  margin: 0 40px;
}
/* line 426, ../sass/style.scss */
.product-slider .slid-caption {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: -65px;
  border: 2px solid #000;
  padding: 4% 50% 6% 4%;
  text-align: right;
  display: none;
}
/* line 435, ../sass/style.scss */
.product-slider .slid-caption p {
  letter-spacing: 0.15em;
  margin-bottom: 20px;
}
/* line 439, ../sass/style.scss */
.product-slider .slid-caption a {
  color: #878787;
  font-size: 18px;
  z-index: 999;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 52% 0 4%;
}

/* line 452, ../sass/style.scss */
.slider-nav {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 41%;
  margin: 0 auto;
}
/* line 458, ../sass/style.scss */
.slider-nav .slick-list {
  height: inherit;
  overflow: visible;
}
/* line 463, ../sass/style.scss */
.slider-nav .slick-slide .slide-nav-itme {
  width: 48px;
  height: inherit;
  line-height: 48px;
  font-size: 14px;
  font-weight: bold;
  color: #878787;
  text-indent: inherit;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 13px;
  display: inline-block;
}
/* line 478, ../sass/style.scss */
.slider-nav .slick-slide.slick-current .slide-nav-itme {
  line-height: 48px;
  border-radius: 50%;
  box-shadow: -1px 9px 24px 0px rgba(0, 15, 26, 0.21);
  z-index: 9;
  transition: all 0.3s ease;
  /*    margin: 0 40px;*/
  margin-bottom: 13px;
}
/* line 487, ../sass/style.scss */
.slider-nav .slick-slide.slick-current button {
  display: inline-block;
}
/* line 491, ../sass/style.scss */
.slider-nav .slick-slide.slick-cloned {
  display: none;
}
/* line 494, ../sass/style.scss */
.slider-nav .slick-slide button {
  display: none;
  font-size: 22px;
  width: 30px;
}

/* line 504, ../sass/style.scss */
.carousel {
  width: 100%;
}

/* line 508, ../sass/style.scss */
.desc-left .image {
  margin-left: 35%;
}
/* line 511, ../sass/style.scss */
.desc-left .title {
  left: 10px;
  right: auto;
  text-align: left;
}
/* line 517, ../sass/style.scss */
.desc-left .description {
  left: 0;
  right: auto;
  margin-left: 8.3%;
  padding: 40px 30px 30px;
  padding-right: 20%;
}
/* line 523, ../sass/style.scss */
.desc-left .description:after {
  right: auto;
  left: 20%;
}

/* line 531, ../sass/style.scss */
.bg-color .description:after {
  background-color: #ededed;
}

/* line 537, ../sass/style.scss */
.revue .container-fluid {
  padding: 0 16% 0 10%;
}
/* line 540, ../sass/style.scss */
.revue .row {
  position: relative;
}
/* line 543, ../sass/style.scss */
.revue .title {
  font-size: 36px;
  color: #383838;
  text-transform: uppercase;
  font-weight: bold;
  margin: 90px auto 25px;
  text-align: center;
  letter-spacing: 0.3em;
}
/* line 552, ../sass/style.scss */
.revue .s-title {
  font-size: 14px;
  color: #383838;
  width: 330px;
  background-color: #e1d9c9;
  text-align: left;
  text-transform: uppercase;
  float: right;
  position: relative;
  padding: 3px 5px;
  margin-bottom: 60px;
  position: relative;
}
/* line 564, ../sass/style.scss */
.revue .s-title:before {
  content: "";
  border-bottom: 1px solid #000;
  width: 85px;
  display: block;
  position: absolute;
  left: -90px;
  top: 50%;
}
/* line 574, ../sass/style.scss */
.revue .number {
  font-size: 36px;
  color: #a9a9a9;
  font-weight: bold;
  letter-spacing: 0.3em;
  position: relative;
  text-align: right;
}
/* line 582, ../sass/style.scss */
.revue .image {
  margin-top: 10px;
  display: flex;
}
/* line 585, ../sass/style.scss */
.revue .image img {
  width: 100%;
  height: 100%;
}
/* line 590, ../sass/style.scss */
.revue .description {
  padding-top: 60px;
  position: relative;
}
/* line 593, ../sass/style.scss */
.revue .description .desc-name {
  font-size: 18px;
  font-weight: bold;
  color: #383838;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 15px 0;
  text-align: center;
}
/* line 602, ../sass/style.scss */
.revue .description p {
  margin-left: 35%;
  color: #383838;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 18px;
}
/* line 610, ../sass/style.scss */
.revue .description a {
  margin-top: 15px;
  margin-left: 35%;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  display: block;
}
/* line 619, ../sass/style.scss */
.revue .description .line {
  position: absolute;
  width: 1px;
  height: 85px;
  border-right: 1px solid #000;
  top: -20px;
  left: 35px;
}
/* line 628, ../sass/style.scss */
.revue .light-title {
  position: absolute;
  bottom: 90px;
  left: 20%;
  width: 250px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 36px #000f1a;
  text-shadow: -2px 7px 38px rgba(0, 15, 26, 0.45);
  letter-spacing: 0.4em;
}

/* line 642, ../sass/style.scss */
.revue-section-1 {
  width: 67%;
  padding: 0 15px;
}
/* line 645, ../sass/style.scss */
.revue-section-1 .desc-name {
  background-color: #e1d9c9;
}
/* line 648, ../sass/style.scss */
.revue-section-1 .number {
  text-align: left;
  width: 70px;
}
/* line 651, ../sass/style.scss */
.revue-section-1 .number:after {
  content: "";
  border-bottom: 2px solid #a9a9a9;
  width: 85px;
  display: block;
  position: absolute;
  right: -85px;
  top: 50%;
}

/* line 662, ../sass/style.scss */
.revue-section-2 {
  width: 44.4%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
}
/* line 668, ../sass/style.scss */
.revue-section-2 .number {
  margin-bottom: -15px;
  z-index: 11;
}
/* line 672, ../sass/style.scss */
.revue-section-2 .description {
  margin-left: 30%;
  margin-bottom: 115px;
}
/* line 675, ../sass/style.scss */
.revue-section-2 .description .line {
  height: 42px;
  left: 0;
  top: 20px;
}
/* line 680, ../sass/style.scss */
.revue-section-2 .description .desc-name {
  background-color: transparent;
  text-align: left;
}
/* line 684, ../sass/style.scss */
.revue-section-2 .description p {
  margin-left: 0;
}
/* line 687, ../sass/style.scss */
.revue-section-2 .description a {
  margin-left: 0;
}
/* line 691, ../sass/style.scss */
.revue-section-2 .image {
  position: relative;
  padding: 0 15px;
  margin-top: 0;
}
/* line 695, ../sass/style.scss */
.revue-section-2 .image .col-6 {
  padding: 0;
}
/* line 697, ../sass/style.scss */
.revue-section-2 .image .col-6:first-child {
  margin-right: -15px;
}
/* line 701, ../sass/style.scss */
.revue-section-2 .image .line {
  position: absolute;
  left: 30%;
  top: -55px;
  width: 1px;
  height: 85px;
  border-right: 1px solid #000;
  z-index: 9;
}
/* line 710, ../sass/style.scss */
.revue-section-2 .image img {
  border: 15px solid #fff;
}
/* line 714, ../sass/style.scss */
.revue-section-2.pos-left {
  top: 20px;
  left: 9%;
}

/* line 719, ../sass/style.scss */
.revue-section-3 {
  position: relative;
  width: 55.5%;
}
/* line 722, ../sass/style.scss */
.revue-section-3 .description {
  margin-left: 20%;
}
/* line 724, ../sass/style.scss */
.revue-section-3 .description .desc-name {
  text-align: left;
}
/* line 727, ../sass/style.scss */
.revue-section-3 .description p {
  margin: 0;
}
/* line 730, ../sass/style.scss */
.revue-section-3 .description a {
  margin-left: 0;
}
/* line 735, ../sass/style.scss */
.revue-section-3 .number {
  margin-left: auto;
  margin-right: -35px;
}
/* line 738, ../sass/style.scss */
.revue-section-3 .number:before {
  display: none;
}

/* line 743, ../sass/style.scss */
.product-row {
  margin: 40px -16% 120px -10%;
  padding: 0 30px;
}
/* line 746, ../sass/style.scss */
.product-row .image {
  height: 120px;
  margin: 0 30px 0 0;
  position: relative;
}
/* line 750, ../sass/style.scss */
.product-row .image img {
  width: auto;
}
/* line 753, ../sass/style.scss */
.product-row .image::before {
  display: block;
  content: " ";
  width: 120px;
  height: 120px;
  background-color: black;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
}
/* line 763, ../sass/style.scss */
.product-row .image::after {
  display: none;
  content: "+";
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -15px -15px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  border: 1.5px solid #fff;
  text-align: center;
  line-height: 24px;
  font-size: 24px;
}
/* line 779, ../sass/style.scss */
.product-row .image:hover:before {
  opacity: 0.5;
}
/* line 782, ../sass/style.scss */
.product-row .image:hover:after {
  display: block;
}

/* line 788, ../sass/style.scss */
.footer {
  background-color: #ededed;
}
/* line 790, ../sass/style.scss */
.footer .logo {
  width: 110px;
  margin-top: -20px;
}
/* line 794, ../sass/style.scss */
.footer .row {
  margin: 0 -16% 5px -10%;
  padding-top: 30px;
  padding-bottom: 15px;
}
/* line 800, ../sass/style.scss */
.footer .menu a {
  color: #919191;
  font-size: 14px;
}
/* line 804, ../sass/style.scss */
.footer .menu li:hover a {
  color: #000;
}
/* line 807, ../sass/style.scss */
.footer .menu .active a:before,
.footer .menu li:hover a:before {
  top: 47%;
}
/* line 811, ../sass/style.scss */
.footer .menu .active a:after,
.footer .menu li:hover a:after {
  top: -10px;
}
/* line 816, ../sass/style.scss */
.footer .adress {
  padding: 0 15px;
  text-align: left;
  font-family: Roboto;
}
/* line 820, ../sass/style.scss */
.footer .adress p {
  line-height: 18px;
  margin: 0;
}
/* line 824, ../sass/style.scss */
.footer .adress .normal {
  font-weight: normal;
}
/* line 827, ../sass/style.scss */
.footer .adress .thin {
  font-weight: 200;
}
/* line 831, ../sass/style.scss */
.footer .give-email {
  padding: 0 15px;
  text-align: left;
  width: 200px;
}
/* line 835, ../sass/style.scss */
.footer .give-email .subtitle {
  margin-bottom: 12px;
  letter-spacing: normal;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 841, ../sass/style.scss */
.footer .give-email p {
  font-size: 11px;
  font-family: Roboto;
  font-weight: 200;
}
/* line 846, ../sass/style.scss */
.footer .give-email input {
  width: 110px;
  height: 24px;
  border: 1px soid #d1d1d1;
  margin-right: 3px;
  display: inline-block;
  margin-top: 10px;
}
/* line 854, ../sass/style.scss */
.footer .give-email button {
  width: 30px;
  height: 24px;
  background-color: #292929;
  color: #fff;
  text-align: center;
  display: inline-block;
}
/* line 865, ../sass/style.scss */
.footer .copyright {
  font-family: Roboto;
  font-weight: 200;
  margin-right: 50px;
}
/* line 871, ../sass/style.scss */
.footer .social-menu li a {
  font-size: 12px;
  text-transform: none;
  font-weight: 300;
}
/* line 876, ../sass/style.scss */
.footer .social-menu li:hover a {
  font-weight: bold;
  margin: 0 -1px;
}
